{margin: 3% 16px;
    padding: 0% 24px;
font-size: 24px;    
}
.cabecalho {background-color: rgb(1, 0, 12);color: white; 
    display:flex;
justify-content: space-around; padding: 2% 24px;}
.cabecalho-imagem{width: 5%;}
.cabecalho-lista-item{display: inline-block;margin: 0% 16px;
}
.imagem-escola {width: 25%;}
.escola{background-image:linear-gradient(rgb(172, 52, 246),rgb(6, 10, 102));color: rgb(230, 182, 241);display: flex;}

.escola-conteudo{width:35%;}
.escola{display:flex;justify-content: center;align-items: center;padding: 24px 0;}
.escola-título{padding: 24px 0;}